*.zip
/target
/dist
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
worker/
node_modules/
.cargo-ok
.mf
*.swp
*.ini
*.swo
moviesInfo.json
seriesInfo.json
actorsInfo.json
*.log
*.env
*.tsv
*.csv
.clasp.json
token.json
title.csv
credentials.json
client_secret.json
